/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}


/* SLIDER */
.slider-container {
    display: flex;
    justify-content: center;
    height: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.ui-widget.ui-widget-content {
    border: initial;
}

.ui-widget-content {
    border: initial;
    background: #979797;
    width: 80%;
}

.ui-slider-horizontal {
    height: .3em;
}

/* THUMB */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: initial;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: initial;
    background: #FF6A6A;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.8em;
    margin-left: -.2em;
}

.ui-slider .ui-slider-handle {
    width: 0.4em;
    height: 2em;
}

